//Copyright (C)2014-2020 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.7 Beta
//Part Number: GW1N-LV1QN48C5/I4
//Device: GW1N-1
//Created Time: Mon 11 23 19:11:11 2020

IO_LOC "o_uart_115200" 38;
IO_PORT "o_uart_115200" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "o_uart_57600" 39;
IO_PORT "o_uart_57600" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "o_uart_38400" 40;
IO_PORT "o_uart_38400" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "o_uart_19200" 41;
IO_PORT "o_uart_19200" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "o_uart_9600" 42;
IO_PORT "o_uart_9600" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "o_uart_4800" 43;
IO_PORT "o_uart_4800" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "o_uart_2400" 44;
IO_PORT "o_uart_2400" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "o_uart_1200" 45;
IO_PORT "o_uart_1200" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "o_led_tx_l" 18;
IO_PORT "o_led_tx_l" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "i_clk" 35;
IO_PORT "i_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
